html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

a {
  color: seashell;
  text-decoration: underline;
}

nav ul li {
  display: inline;
  padding-left: 15px;
}

nav ul li:last-child {
  padding-right: 10px;
}

ul {
  list-style: none;
}

header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
}

#logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

#logo img {
  height: 50px;
}

main {
  margin: 0 50px 50px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  min-width: 1200px;
  margin-bottom: 80px;
}

.hero .header {
  background-color: black;
  width: 1200px;
}

.hero .header h2,
.hero .header h4 {
  margin: 15px 0 15px;
}

.tea-of-month {
  width: 1000px;
  margin: 0 auto 80px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.product {
  margin: 0 15px;
}

.product img {
  height: 200px;
  width: 300px;
  margin: 0 0 10px;
}

.product h4 {
  margin: 0 auto 20px;
}

.locations {
  background-image: url(../images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 1200px;
  height: 500px;
  padding-top: 30px;
  margin: 0 auto;
}

.locations h2 {
  margin: 30px auto 15px;
}

.location-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.location {
  width: 300px;
  background-color: black;
  opacity: 1;
  margin: 0 20px 0 20px;
}

.location p {
  margin: 30px auto 40px;
}
